ipywidgets==7.7.1
matplotlib==3.7.0
numpy==1.24.2
pandas==1.5.3

numpy
time
pandas
pandas-datareader
matplotlib
ipywidgets
plotly
plotly.express
streamlit
yfinance
yahoo-finance
yahoofinancials
fix-yahoo-finance
scipy #iconda env using.
jupyterlab
jupyter notebook
jupyter-dash
mt5
metatrader
pytrader
tradingview-ta
pyzmq

