ipywidgets==7.7.1
matplotlib==3.7.0
numpy==1.24.2
pandas==1.5.3

numpy
time
pandas
pandas-datareader
matplotlib
ipywidgets
plotly
plotly.express
streamlit
yfinance
yahoo-finance
yahoofinancials
fix-yahoo-finance
scipy #iconda env using.
jupyterlab
jupyter notebook
jupyter-dash
mt5
metatrader
pytrader
tradingview-ta
pyzmq
lean
-U vectorbt
backtesting
backtrader
statsforecast
plotly-resampler
python -m pip install statsmodels
python -m pip install prophet
Ipython	8.5.0	pip3	Provides a rich architecture for interactive computing
IPykernel	6.15.2	pip3	Provides the IPython kernel for Jupyter.
IPywidgets	8.0.2	pip3	Interactive HTML widgets for Jupyter notebooks and the IPython kernel



